/* You can add global styles to this file, and also import other style files */
html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,
body {
  margin: 0px;
  padding: 0px;
  //   background-color: rgba(0,0,0,.3);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}
a {
  &:visited,
  &:hover {
    color: #1976d2;
    text-decoration: none;
  }
  &:hover {
    color: #125699;
  }
}

.cls-1 {
  fill: none;
}

.cls-2 {
  fill: #ffffff;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: flex;
}

.g6-tooltip {
  padding: 10px 6px;
  color: #444;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #e2e2e2;
  border-radius: 4px;
  user-select: none;
}
